{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header bg-warning text-dark">
                <h4 class="mb-0">🛠️ Gestión de Recursos Humanos</h4>
            </div>
            <div class="card-body">
                <p>Crea usuarios con roles específicos (Cajero, Bodeguero).</p>
                <form method="post">
                    {% csrf_token %}
                    <table class="table">
                        {{ form.as_table }}
                    </table>
                    <button class="btn btn-dark w-100">Crear Empleado</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}